@keyframes fon_an {
    from{
        background-color: #ecfaf7;
    }
    to {
        background-color: rgb(176, 191, 212);
    }
}
@-webkit-keyframes color_radyga {
    0% {
        background: #ff1e28;
        color: #1800ff;
    }
    20% {
        background: #ff8c08;
        color: #00e1ff;
    }
    40% {
        background: #d7d100;
        color: #24a000;
    }
    60% {
        background: #24a000;
        color: #d7d100;
    }
    80% {
        background: #00e1ff;
        color: #ff8c08;
    }
    100% {
        background: #1800ff;
        color: #ff1e28;
    }
}
